<div class="jumbotron" id="title">
  <div class="col-md-6">
    <h2>Want to see my favorite products?</h2>
    <button class="btn btn-danger" id="button"><%= link_to "PRODUCTS", products_path(@products) %></button>
    <p>The one stop shop for all things Yochi approved! Come see how items rank according to Yochi!</p>
  </div>
</div>
