
<div class="container">
  <h2 id="gerudo">Gerudo Valley General Store</h2>

  <div class="jumbotron" id="title">
    <button class="btn btn-danger" id="button"><%= link_to "PRODUCTS", products_path(@products) %></button>
    <br>
    <p>Your one stop shop for everything you'll ever need in Hyrule!</p>
  </div>
</div>
