<div class="container" id="products">
  <div class="jumbotron" id="productjumbo">
    <h1>Products</h1>
    <p><%= link_to "Add a New Product", new_product_path(@product) %></p>
  </div>
  <% @products.each do |product| %>
  <h3><%= link_to product.name, product_path(product)%> - $<%=product.cost%></h3>
  <h5>(Made in <%=product.country%>)</h5>
  <hr>
  <% end %>
</div>
</div>
